[Desktop Entry]
Encoding=UTF-8
Name=Link to IBM Knowledge Center - DB2 for Linux UNIX and Windows 10.5.0
Type=Link
URL=http://www-01.ibm.com/support/knowledgecenter/SSEPGG_10.5.0/com.ibm.db2.luw.kc.doc/welcome.html?lang=en
Icon=text-html
