[Desktop Entry]
Encoding=UTF-8
Name=Link to Ubuntu 14.04 麒麟版安装：Apache+php5+mysql+phpmyadmin. - 鬼哥哥 - 开源中国社区
Type=Link
URL=http://my.oschina.net/tinydeng/blog/338579
Icon=text-html
Name[en_US]=Link to Ubuntu 14.04 Apache+php5+mysql+phpmyadmin
